APP_NAME=TechFit
APP_ENV=production
APP_KEY=
APP_DEBUG=false
APP_URL=https://techfit-api.onrender.com
FRONTEND_URL=https://techfit-academy.vercel.app

APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=pt_BR

LOG_CHANNEL=stack
LOG_LEVEL=error

# Render usa PostgreSQL geralmente, ou mantenha sqlite se for persistente
DB_CONNECTION=sqlite
DB_DATABASE=/var/www/html/storage/database.sqlite

GROQ_API_KEY=
STRIPE_KEY=
STRIPE_SECRET=
MP_ACCESS_TOKEN=
RESEND_API_KEY=

SESSION_DRIVER=file
SESSION_LIFETIME=120

QUEUE_CONNECTION=sync
CACHE_STORE=file
